<!--@subject Support request via magento2 online shop@-->

{{var data.description}}

{{trans "Product: %product" product=$versioninfo.product}}
{{trans "Version: %product" product=$versioninfo.productVersion}}
{{trans "Plugin name: %product" product=$versioninfo.pluginName}}
{{trans "Plugin version: %product" product=$versioninfo.pluginVersion}}

{{trans "Configuration:"}}

{{var configstr}}

{{trans "Active payment methods:"}}

{{block class='Magento\\Framework\\View\\Element\\Template' area='adminhtml' template='Wirecard_CheckoutPage::email/support_paymentmethods.phtml' methods=$mine}}

{{trans "Foreign payment methods:"}}

{{block class='Magento\\Framework\\View\\Element\\Template' area='adminhtml' template='Wirecard_CheckoutPage::email/support_paymentmethods.phtml' methods=$foreign}}

{{trans "Installed Modules:"}}

{{block class='Magento\\Framework\\View\\Element\\Template' area='adminhtml' template='Wirecard_CheckoutPage::email/support_modules.phtml' modules=$modules}}
