<?xml version="1.0"?>
<!--
/**
* Shop System Plugins - Terms of Use
*
* The plugins offered are provided free of charge by Qenta Payment CEE GmbH
* (abbreviated to Qenta CEE) and are explicitly not part of the Qenta CEE range of
* products and services.
*
* They have been tested and approved for full functionality in the standard configuration
* (status on delivery) of the corresponding shop system. They are under General Public
* License Version 2 (GPLv2) and can be used, developed and passed on to third parties under
* the same terms.
*
* However, Qenta CEE does not provide any guarantee or accept any liability for any errors
* occurring when used in an enhanced, customized shop system configuration.
*
* Operation in an enhanced, customized configuration is at your own risk and requires a
* comprehensive test phase by the user of the plugin.
*
* Customers use the plugins at their own risk. Qenta CEE does not guarantee their full
* functionality neither does Qenta CEE assume liability for any disadvantages related to
* the use of the plugins. Additionally, Qenta CEE does not guarantee the full functionality
* for customized shop systems or installed plugins of other vendors of plugins within the same
* shop system.
*
* Customers are responsible for testing the plugin's functionality before starting productive
* operation.
*
* By installing the plugin into the shop system the customer agrees to these terms of use.
* Please do not use the plugin if you do not agree to these terms of use!
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <qenta_checkoutpage>
            <basicdata>
                <customer_id>D200001</customer_id>
                <secret>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret>
            </basicdata>
            <options>
                <order_creation>after</order_creation>
                <maxretries>-1</maxretries>
                <sendbillingdata>1</sendbillingdata>
                <sendshippingdata>1</sendshippingdata>
                <paymenttypesortorder>0</paymenttypesortorder>
                <duplicaterequestcheck>1</duplicaterequestcheck>
            </options>

        </qenta_checkoutpage>

        <payment>
            <qenta_checkoutpage_select>
                <active>0</active>
                <title>Qenta Checkout Page Select</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <displaymode>iframe</displaymode>
                <model>Qenta\CheckoutPage\Model\Payment\Select</model>
                <sort_order>100</sort_order>
            </qenta_checkoutpage_select>

            <qenta_checkoutpage_ccard>
                <active>1</active>
                <title>Qenta Checkout Page Credit Card</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <displaymode>iframe</displaymode>
                <model>Qenta\CheckoutPage\Model\Payment\Ccard</model>
                <sort_order>110</sort_order>
            </qenta_checkoutpage_ccard>

            <qenta_checkoutpage_eps>
                <active>0</active>
                <title>Qenta Checkout Page eps-Überweisung</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <displaymode>iframe</displaymode>
                <model>Qenta\CheckoutPage\Model\Payment\Eps</model>
                <sort_order>150</sort_order>
            </qenta_checkoutpage_eps>

            <qenta_checkoutpage_p24>
                <active>0</active>
                <title>Qenta Checkout Page Przelewy24</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <displaymode>iframe</displaymode>
                <model>Qenta\CheckoutPage\Model\Payment\P24</model>
                <sort_order>190</sort_order>
            </qenta_checkoutpage_p24>

            <qenta_checkoutpage_sofortbanking>
                <active>1</active>
                <title>Qenta Checkout Page Online bank transfer.</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <displaymode>iframe</displaymode>
                <model>Qenta\CheckoutPage\Model\Payment\Sofortbanking</model>
                <sort_order>210</sort_order>
            </qenta_checkoutpage_sofortbanking>

            <qenta_checkoutpage_invoice>
                <active>1</active>
                <title>Qenta Checkout Page Invoice</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <payolution_terms>1</payolution_terms>
                <displaymode>iframe</displaymode>
                <currency>EUR</currency>
                <provider>qenta</provider>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,DE,CH</specificcountry>
                <shippingcountry>AT,DE,CH</shippingcountry>
                <billing_shipping_address_identical>1</billing_shipping_address_identical>
                <min_order_total>10</min_order_total>
                <max_order_total>3500</max_order_total>
                <model>Qenta\CheckoutPage\Model\Payment\Invoice</model>
                <sort_order>270</sort_order>
            </qenta_checkoutpage_invoice>

            <qenta_checkoutpage_installment>
                <active>0</active>
                <title>Qenta Checkout Page Installment</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <payolution_terms>1</payolution_terms>
                <displaymode>iframe</displaymode>
                <currency>EUR</currency>
                <provider>payolution</provider>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,DE,CH</specificcountry>
                <shippingcountry>AT,DE,CH</shippingcountry>
                <billing_shipping_address_identical>1</billing_shipping_address_identical>
                <min_order_total>150</min_order_total>
                <max_order_total>3500</max_order_total>
                <model>Qenta\CheckoutPage\Model\Payment\Installment</model>
                <sort_order>290</sort_order>
            </qenta_checkoutpage_installment>

            <qenta_checkoutpage_paypal>
                <active>1</active>
                <title>Qenta Checkout Page PayPal</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <displaymode>iframe</displaymode>
                <model>Qenta\CheckoutPage\Model\Payment\Paypal</model>
                <sort_order>300</sort_order>
                <txident>SINGLE</txident>
            </qenta_checkoutpage_paypal>

            <qenta_checkoutpage_paysafecard>
                <active>0</active>
                <title>Qenta Checkout Page paysafecard</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <displaymode>iframe</displaymode>
                <model>Qenta\CheckoutPage\Model\Payment\Paysafecard</model>
                <sort_order>310</sort_order>
            </qenta_checkoutpage_paysafecard>

            <qenta_checkoutpage_sepa>
                <active>1</active>
                <title>Qenta Checkout Page SEPA Direct Debit</title>
                <instructions>You will be redirected to Qenta Checkout Page when you place an order.</instructions>
                <displaymode>iframe</displaymode>
                <model>Qenta\CheckoutPage\Model\Payment\Sepa</model>
                <sort_order>340</sort_order>
                <txident>SINGLE</txident>
            </qenta_checkoutpage_sepa>
        </payment>
    </default>
</config>
